name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  GO_VERSION: "1.26"

jobs:
  unit-tests:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Run unit tests
        run: go test -race -cover ./...
